@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Roboto', sans-serif, FontAwesome;
}

/* Color Palette */
$engineeringOrange: #B80C09;
$indigoDye: #0B4F6C;
$processCyan: #01BAEF;
$ghostWhite: #FBFBFF;
$richBlack: #040F16;

body {
    background-color: $richBlack; padding: 1em;
    span, small { user-select: none; cursor: default; }

    .container, .buttons-container, .color-selected-container, #color-preview { 
        display: flex; justify-content: center; align-items: center; flex-wrap: wrap; 
    }
    .container {        
        flex-direction: row; min-height: 90vh;      
        .color-picker-card {      
            position: relative; width: 450px; height: auto;         
            padding: 1em; border-radius: 5px; 
            background-color: $indigoDye; color: $ghostWhite;   
            #alertText {
                background-color: $ghostWhite; color: $engineeringOrange;
                padding: 5px 0; border-radius: 5px; margin-bottom: 5px;                
                text-align: center; font-size: 14px; 
            }
            .upload-image-form {                   
                text-align: center; border-radius: 5px;
                cursor: pointer; transition: 0.35s; 
                &:hover {
                    background-color: $ghostWhite;
                    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
                    p { color: $richBlack !important; border-bottom: none !important; }
                }                 
                img {
                    width: 75%; height: auto;     
                    padding: 0.5rem;   
                }            
                .form-text {
                    p {
                        font-size: 12px; letter-spacing: 1px; color: $ghostWhite;
                        padding-bottom: 10px; transition: 0.25s;
                        border-bottom: 2px dashed $ghostWhite;
                    }
                }
            }            
            #color-picker {
                width: 100%;
                background-color: $engineeringOrange; border-color: $ghostWhite;
                &:hover { background-color: #bb2d3b; }
            }            
            small {
                width: 100%; display: inline-block;
                font-size: 10px; text-align: center; letter-spacing: 1px;
                opacity: .5; color: $ghostWhite;
            }

            .color-selected-container {                                
                margin-top: 10px; 
                span { 
                    font-size: 14px; letter-spacing: 1px;
                }
                .input-group {
                    width: 32%; margin-top: 10px; margin-inline: 2px;                     
                    &:nth-child(2) { width: 100%; }

                    #color-icon { 
                        height: 35px; 
                        cursor: default; background-color: $richBlack; 
                    }
                    #color-preview {                        
                        user-select: none; cursor: default; line-height: 2; 
                        &::placeholder { font-size: 11px; letter-spacing: 1px; }                      
                    }
                    
                    &:nth-child(3) input {
                        text-transform: uppercase !important;
                        &::placeholder { text-transform: none; }                        
                    }
                    input, #color-icon, button { border: 1px solid $ghostWhite !important; }
                    input {     
                        height: 35px;
                        font-size: 10.5px; text-align: center; 
                        line-height: normal !important; padding: 5px;
                        &::placeholder { font-size: 14px; }                                             
                    }
                    button {
                        width: 25px; font-size: 10px;
                        padding: 5px;
                        background-color: $engineeringOrange;
                        &:hover { background-color: #bb2d3b; }
                    }
                }                              
            }
        }
        .hidden { display: none; }            
    }
}