@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, FontAwesome;
}

/* Color Palette */
body {
  background-color: #040F16;
  padding: 1em;
}
body span, body small {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
body .container, body .buttons-container, body .color-selected-container, body #color-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .container {
  flex-direction: row;
  min-height: 95vh;
}
body .container .color-picker-card {
  position: relative;
  width: 450px;
  height: auto;
  padding: 1em;
  border-radius: 5px;
  background-color: #0B4F6C;
  color: #FBFBFF;
  border: 2px solid #FBFBFF;
}
body .container .color-picker-card #alertText {
  background-color: #FBFBFF;
  color: #B80C09;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
body .container .color-picker-card .upload-image-form {
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.35s;
}
body .container .color-picker-card .upload-image-form:hover {
  background-color: #FBFBFF;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}
body .container .color-picker-card .upload-image-form:hover p {
  color: #040F16 !important;
  border-bottom: none !important;
}
body .container .color-picker-card .upload-image-form img {
  width: 75%;
  height: auto;
  padding: 0.5rem;
  filter: drop-shadow(0 0 7px #000);
}
body .container .color-picker-card .upload-image-form .form-text p {
  font-size: 12px;
  letter-spacing: 1px;
  color: #FBFBFF;
  padding-bottom: 10px;
  transition: 0.25s;
  border-bottom: 2px dashed #FBFBFF;
}
body .container .color-picker-card #color-picker {
  width: 100%;
  background-color: #B80C09;
  border-color: #FBFBFF;
}
body .container .color-picker-card #color-picker:hover {
  background-color: #bb2d3b;
}
body .container .color-picker-card small {
  width: 100%;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  opacity: 0.5;
  color: #FBFBFF;
}
body .container .color-picker-card .color-selected-container {
  margin-top: 10px;
}
body .container .color-picker-card .color-selected-container span {
  font-size: 14px;
  letter-spacing: 1px;
}
body .container .color-picker-card .color-selected-container .input-group {
  width: 32%;
  margin-top: 10px;
  margin-inline: 2px;
}
body .container .color-picker-card .color-selected-container .input-group:nth-child(2) {
  width: 100%;
}
body .container .color-picker-card .color-selected-container .input-group #color-icon {
  height: 35px;
  cursor: default;
  background-color: #040F16;
}
body .container .color-picker-card .color-selected-container .input-group #color-preview {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
  line-height: 2;
}
body .container .color-picker-card .color-selected-container .input-group #color-preview::-moz-placeholder {
  font-size: 11px;
  letter-spacing: 1px;
}
body .container .color-picker-card .color-selected-container .input-group #color-preview::placeholder {
  font-size: 11px;
  letter-spacing: 1px;
}
body .container .color-picker-card .color-selected-container .input-group:nth-child(3) input {
  text-transform: uppercase !important;
}
body .container .color-picker-card .color-selected-container .input-group:nth-child(3) input::-moz-placeholder {
  text-transform: none;
}
body .container .color-picker-card .color-selected-container .input-group:nth-child(3) input::placeholder {
  text-transform: none;
}
body .container .color-picker-card .color-selected-container .input-group input, body .container .color-picker-card .color-selected-container .input-group #color-icon, body .container .color-picker-card .color-selected-container .input-group button {
  border: 1px solid #FBFBFF !important;
}
body .container .color-picker-card .color-selected-container .input-group input {
  height: 35px;
  font-size: 10.5px;
  text-align: center;
  line-height: normal !important;
  padding: 5px;
}
body .container .color-picker-card .color-selected-container .input-group input::-moz-placeholder {
  font-size: 14px;
}
body .container .color-picker-card .color-selected-container .input-group input::placeholder {
  font-size: 14px;
}
body .container .color-picker-card .color-selected-container .input-group button {
  width: 25px;
  font-size: 10px;
  padding: 5px;
  background-color: #B80C09;
}
body .container .color-picker-card .color-selected-container .input-group button:hover {
  background-color: #bb2d3b;
}
body .container .hidden {
  display: none;
}/*# sourceMappingURL=styles.css.map */